<div class="lineone center-block clearfix">
  {{#each lineone}}
    <div class="col-md-4">
      {{render "player" this}}
    </div>
  {{/each}}
</div>
<div class="linetwo center-block clearfix">
  {{#each linetwo}}
    <div class="col-md-6">
      {{render "player" this}}
    </div>
  {{/each}}
</div>
